img{
    max-width: 180px;
    width: 100%;
    justify-self: center;
    margin-bottom: 3vh;
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}